<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>A3 Saniya Syeda</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
    <!-- import the webpage's client-side javascript file -->
    
  </head>
  <body>

    <header>
      <img src="https://cdn.glitch.com/da33b4ec-6b69-434a-ac9d-30e1c159877c%2FUntitled%20design.png?v=1601312600477"/>
      <h1>Shopping List</h1>
      <h4>A simple app to record your groceries!</h4>
    </header>

    <form id="todoform">
      <label>
        New Shopping List:
        <input name="dream" type="text" required placeholder=" Add an item" />
        <p id="describe">
          For example, "apples" or "paper towels"
        </p>
      </label>
      <button type="submit" id="submit-dream">Add Item</button>
    </form>

    <p>
      To modify an item, click once. To delete an item, double click.
    </p>

    <section class="dreams">
      <ul id="dreams"></ul>
    </section>


    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  </body>
</html>
