<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>A3 Saniya Syeda</title>
    
  </head>
  <body>
    <h1>
      Log In
    </h1>

    <link rel="stylesheet" href="/style.css" />

    <form id="login">
      <input
        type="text"
        name="username"
        required
        placeholder="Enter Username"
      />
      <input
        type="password"
        name="password"
        required
        placeholder="Enter Password"
      />
      <button type="submit" id="signin" style="margin-top: 30px">
        Sign In
      </button>
    </form>
        <script src="/script.js" defer></script>
  </body>
</html>
